.content-services-layout>* {
    width: 100%;
}

.download-link {
    background-color: #1e7cd3
}

.share-link {
    background-color: rgb(178, 48, 169);
}

.save-link {
    background-color: #8f44bb;

}
