* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

::placeholder { /* Recent browsers */
    text-transform: capitalize;
    font-family: Tahoma, san-serif;
    font-size: 1.5rem;    
}

body{
    background-color: #22252b;   
}

header {
    background-image: linear-gradient(to right, #0f9bb4 , #2fbb72);
    border-radius:  100rem;    
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;

    transition: all 0.2s;

    height: 4rem;
    width: 4rem;
    cursor: pointer;
    border-radius: 0.4rem;

    box-shadow: inset rgb(255, 255, 255) 0px 0.1rem 0.4rem 0.1rem;
    border-color: rgba(255, 255, 255, 0);
    background-color:  #ebeef3;
    filter: drop-shadow(0.1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.532));
}

button:hover {
    border-radius: 0px;    
    filter: drop-shadow(0.1rem 1rem 10px rgba(0, 0, 0, 0.532));
    transform: scale(1.2);
}

input[type=text] {
    font-family: Tahoma, san-serif;
    font-size: 1.5rem;
    color: white;
    padding-inline-start: 2rem;
    height: 3rem;
    border-radius: 4rem;
    background: none;
    border: 1px solid white;
}

img {
    display: block;
    width: 100%;    
    cursor: pointer;
}

.img-galerry {
    /* opacity: 0.5; */
    /* transition: 0.2s all; */
}

.img-galerry:hover{
    /* opacity: 1; */
    /* transform: scale(1.1); */
}

.icon {
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(0.1rem 0.1rem 1px rgba(0, 0, 0, 0.532));
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
}