body {
    --gap-from-viewport-end: 100px;
    display: grid;
    grid-template-columns: minmax(1rem, var(--gap-from-viewport-end)) calc(100% - calc(var(--gap-from-viewport-end) * 2)) minmax(1rem, var(--gap-from-viewport-end));
    gap: 2rem;
}

body>* {
    grid-column: 2;
}

/* header ------------------------------------------------------- */
.header-layout {
    grid-column: 1 /-1;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
}

.navbar-ul-layout {
    display: grid;
    grid-auto-flow: column;
    gap: 3rem
}

/* new section------------------------------------------------------- */
.meme-creation-section-layout {
    display: grid;
    grid-template-columns: minmax(450px, 1fr) 1fr;
    gap: 2rem;
    place-items: center;
    margin-block: 4rem;
}

/* meme editor */
.main-editor-layout {
    display: grid;
    gap: 1.3rem;
    background-color: #383b44;
    padding: 1rem;
    border-radius: 1rem;
}

.line-editor-layout {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.line-sizing-positioning-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    background-color: #15a69e;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.line-rotation-layout {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    place-items: center;
}

.font-editor-layout {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.content-services-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem
}

/* new section------------------------------------------------------------ */
/* gallery */
.gallery-layout {
    --gallery-grid-gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    gap: var(--gallery-grid-gap);
}